<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Vue.js Accordian and Filter</title>
</head>
<body>
  <div class="container">
    <div id="media-list">
      <h1>{{ title }}</h1>
      <!-- You could alternatively use a v-model binding here to track changes to the 'type' -->
      <!-- Are the 'name' and 'id' attributes necessary here? -->
      <select v-on:change="filterList" name="" id="">
        <option value="">Select a type of media...</option>
        <!-- The v-bind:value binding isn't required here -->
        <option v-for="item in uniqueItemsList" 
                v-bind:value="item">{{item}}</option>
      </select>
      <ul>
        <!-- Using a v-show directive on the h3 element only hides the element; alternatively, you could add a v-if directive to the li element v-if="media.type === type || type === ''" to filter the list -->
        <li v-for="media in mediaList">
          <h3 
            v-on:click="toggleDetails(media)"
            v-show="type === '' || type === media.tag"
            v-bind:class="{ more: !media.showDetail, less: media.showDetail}">
            {{ media.title }}
          </h3> 

          <div v-show="media.showDetail">
            <p>{{ media.description }}</p>
            <!-- Maybe use a v-if directive here so you're not rendering these elements if there's not a contributor property value? -->
            <p v-show="media.contributor">By: {{ media.contributor }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>